extends layout

block content
  .jumbotron
    .container
      h1.display-3 Apolo!
      p
      | This is my first Node.js application
      p
        a.btn.btn-primary.btn-lg(href='#', role='button') Learn more »
    .container
 
   
