doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    

  body
    nav.navbar.navbar-expand-md
      a.navbar-brand(href='#') Apolo
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarCollapse.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='/')
              | Home
            if !user  
              li(calss=(title == 'Login' ? 'active' : ''))
                a.nav-link(href='/users/login') Log in
              li
                a.nav-link.active(href='/users/register') Register 
        ul.navbar-nav.align-right
          if user
            li.nav-item.active
              a.nav-link(href='users/logout') Logout
    main(role='main')   

.container
  != messages()          
  block content

    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script(src='/javascripts/bootstrap.min.js')
