extends layout

block content
    form.form-signin(action="/users/login", method="post")
        .container.col-md-4
            h2 Login here
            .form-group
                label.sr-only UserName
                input.form-control(name='username', type='text', placeholder='Enter your username')
            .form-group
                label.sr-only Password
                input.form-control(name='password', type='password', placeholder='Enter Password')
            
            input.btn.btn-lg.btn-primary.btn-block(name="submit", type='submit', value='Login')                      