extends layout

block content
    form.form-signin(action="/users/register", method="post")
        .container.col-md-4
            h2 Regiser here
            ul.errors
                if errors
                    each error, i in errors
                        li.alert.alert-danger #{error.msg}
            .form-group
                label.sr-only Name
                input.form-control(name='name', type='text', placeholder='Enter your name')
            .form-group
                label.sr-only Email
                input.form-control(name='email', type='email', placeholder='Enter your email')  
            .form-group
                label.sr-only UserName
                input.form-control(name='username', type='text', placeholder='Enter your username')
            .form-group
                label.sr-only Password
                input.form-control(name='password', type='password', placeholder='Enter Password')
            .form-group
                label.sr-only Confirm password
                input.form-control(name='password2', type='password', placeholder='Confirm password')
            input.btn.btn-lg.btn-primary.btn-block(name="submit", type='submit', value='Register')                      